.card-header {
    text-align: center;
    font-size: 18px;
    background-color: lightblue;
}

.card-body {
    font-family: 'Nova Round', cursive;
}

#welcomeText {
    background-color: #f18585;
}

nav {
    width: 100%;
}

#voterDiv{
    background-image: url("./assets/starsback.jpg");
    border: 0;
}

.form-row {
    width: 700px;
    color: #fff;
   
}

.form-group {
    width: 700px;
    color: #fff;
}

.btn-primary {
    width: 100px;
}

.card-title {
    text-align: center;
    color:white;
}

.btn-primary {
    margin-left: 300px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("./assets/starsback.jpg");
    font-family: 'Nova Round', cursive;
    
}

nav {
    width: 100%;
    background: #003a6b;
}

ul {
    width: 80%;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover {
    background: #e91e36;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.toggle {
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
}

@media(max-width:768px) {
    .toggle {
        display: block;
    }
    ul {
        width: 100%;
    }
    ul li {
        display: block;
        text-align: center;
    }
}

.active {
    display: block;
}

/* #map {
    /* float: left; */
    /* position: fixed; */
    overflow: hidden;
    height: 100%;
    width: 100%;
  } */
  /* #content-window {
    float: left;
    font-family: 'Roboto','sans-serif';
    height: 100%;
    line-height: 30px;
    padding-left: 10px;
    width: 19%;
  } */